@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-white-dark: #f3f0fe;
  --color-white-transparent: rgb(255 255 255 / 65%);
  --color-black: #191919;
  --color-gray-dark: #3e3e3e;
  --color-gray-background: #fafafa;
  --color-gray-light: #dfdee2;
  --color-gray: #a2a2a2;
  --color-gray-mid: #838287;
  --color-primary-light: #dbdbff;
  --color-primary: #5d3ebc;
  --color-primary-dark: #4c3398;
  --color-secondary: #7849f7;
  --color-brand-yellow: #ffd300;
  --color-red: #db471e;
  --color-gray-storm: #697488;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-gray-background);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0px;
  line-height: 1.5;
}

.heading-primary {
  font-size: 3.6rem;
  line-height: 4rem;
  color: var(--color-white);
  margin-top: 4rem;
  margin-bottom: 4px;
  font-weight: 600;
}

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--color-white);
  line-height: 3.4rem;
}

.heading-fifth {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.heading-sixth {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 8px;
}

.banner {
  height: 50rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner__flex {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 81.25em) {
  .banner__flex {
    padding: 0 3.2rem !important;
  }
}

@media only screen and (max-width: 81.25em) {
  .banner__flex {
    padding: 0 1.6rem !important;
  }
}

@media only screen and (max-width: 50em) {
  .banner__flex {
    display: none;
  }
}

.banner__left {
  width: 30rem;
}

@media only screen and (max-width: 81.25em) {
  .banner__left {
    width: auto;
  }
}

.banner__logo {
  width: 18rem;
  height: 18rem;
}

.banner__right {
  flex-shrink: 0;
  padding: 2.4rem;
  border-radius: 8px;
  width: 40rem;
  background-color: var(--color-gray-background);
}

.banner__phone {
  display: flex;
  margin-bottom: 8px;
}

.banner__country, .banner__number {
  border: 2px solid var(--color-gray-light);
  border-radius: 4px;
}

.banner__country {
  position: relative;
  display: flex;
  align-items: center;
  width: 18rem;
  height: 5.6rem;
  background-color: var(--color-white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.banner__country--open {
  border-color: var(--color-primary);
}

.banner__flag {
  width: 1.6rem;
  height: 1.1rem;
  margin: 0 1rem;
}

.banner__country--open .banner__arrow {
  transform: rotate(180deg);
}

.banner__arrow {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.banner__list {
  display: none;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20rem;
  overflow: auto;
  background-color: var(--color-white);
  margin-top: 8px;
  border-radius: 2px;
  box-shadow: rgba(93, 62, 188, 0.2) 0px 4px 24px;
}

.banner__list--open {
  display: block;
}

.banner__item {
  padding: 8px 0;
}

.banner__item:hover {
  background-color: var(--color-white-dark);
}

.banner__country-name {
  display: none;
}

.banner__dial-code {
  color: var(--color-gray-dark);
  margin-right: 1.2rem;
}

.banner__input {
  width: 100%;
  margin-left: 1rem;
  height: 5.6rem;
  position: relative;
}

.banner__number {
  font-size: 1.4rem;
  padding: 0 4rem 0 1.4rem;
  width: 100%;
  height: 100%;
  color: var(--color-gray-dark);
}

.banner__number:focus, .banner__number:hover, .banner__number:active {
  outline: none;
  border-color: var(--color-primary);
}

.banner__label {
  position: absolute;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--color-gray-mid);
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  transition: all 0.2s;
  pointer-events: none;
}

.banner__number:focus + .banner__label,
.banner__number:valid + .banner__label {
  font-size: 1.2rem;
  color: var(--color-primary);
  transform: translateY(-25px);
}

.banner__notification {
  display: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  fill: var(--color-red);
}

.banner__notification--open {
  display: block;
}

.banner__message {
  display: none;
  font-size: 1.2rem;
  color: var(--color-red);
}

.banner__message--open {
  display: inline-block;
}

.banner__button {
  margin-top: 4px;
  width: 100%;
  height: 4.8rem;
  cursor: pointer;
  background-color: var(--color-brand-yellow);
  color: var(--color-primary);
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: all 0.2s;
}

.banner__button:hover {
  color: var(--color-brand-yellow);
  background-color: var(--color-secondary);
}

.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(90deg, var(--color-primary) 0%, rgba(93, 62, 188, 0) 100%);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaigns {
  margin: 3.2rem 0 2.4rem;
}

@media only screen and (max-width: 81.25em) {
  .campaigns {
    padding: 0 3.2rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .campaigns {
    padding: 0 1.6rem;
  }
}

@media only screen and (max-width: 50em) {
  .campaigns {
    padding: 0 6px;
  }
}

.campaigns__flex {
  display: flex;
}

@media only screen and (max-width: 62.5em) {
  .campaigns__flex {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 50em) {
  .campaigns__flex {
    flex-direction: column;
  }
}

.campaigns__group {
  display: flex;
  width: 40rem;
  height: 20rem;
}

.campaigns__group:not(:first-child) {
  margin-left: 2.4rem;
}

@media only screen and (max-width: 62.5em) {
  .campaigns__group:nth-child(2) {
    margin-left: auto;
  }
  .campaigns__group:last-child {
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 50em) {
  .campaigns__group {
    margin: 2rem auto;
    width: 100%;
    height: auto;
  }
}

.campaigns__group img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.categories {
  padding: 2.4rem 0;
  background-color: var(--color-white);
  box-shadow: rgba(88, 63, 181, 0.08) 0px 2px 16px;
}

@media only screen and (max-width: 81.25em) {
  .categories {
    padding: 2.4rem 3.2rem;
  }
}

@media only screen and (max-width: 81.25em) {
  .categories {
    padding: 2.4rem 1.6rem;
  }
}

@media only screen and (max-width: 50em) {
  .categories {
    padding: 2.4rem 6px;
  }
}

.categories__group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.6rem;
  width: 100%;
  max-width: 125rem;
}

@media only screen and (max-width: 62.5em) {
  .categories__group {
    row-gap: 0;
  }
}

.categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10 - 1.6rem);
  padding: 0.8rem 0 2rem;
  transition: all 0.2s;
  border-radius: 4px;
}

.categories__item:not(:last-child) {
  margin-right: 1.6rem;
}

.categories__item:hover {
  background-color: var(--color-white-dark);
}

@media only screen and (max-width: 62.5em) {
  .categories__item {
    width: calc(100% / 5 - 1.6rem);
  }
}

@media only screen and (max-width: 50em) {
  .categories__item {
    width: calc(100% / 4 - 1.6rem);
  }
}

.categories__item:hover .categories__name {
  color: var(--color-primary);
}

.categories__photo {
  border-radius: 8px;
  border: 1px solid rgba(25, 25, 25, 0.1);
  width: 4.8rem;
  height: 4.8rem;
}

.categories__photo img {
  width: 100%;
  height: 100%;
}

.categories__name {
  min-height: 4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.2rem;
  color: var(--color-gray-dark);
  transition: all 0.2s;
}

@media only screen and (max-width: 81.25em) {
  .description {
    width: 95% !important;
  }
}

.description__flex {
  margin-top: 5.6rem;
  display: flex;
}

@media only screen and (max-width: 50em) {
  .description__flex {
    flex-direction: column;
  }
}

.description__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
  background-color: var(--color-white);
  margin-right: 1.6rem;
  border-radius: 8px;
  padding: 6rem 1.6rem 4rem;
  box-shadow: rgba(93, 62, 188, 0.04) 0px 6px 24px;
}

@media only screen and (max-width: 50em) {
  .description__group {
    margin-right: 0;
    margin-top: 1.2rem;
  }
}

.description__image {
  width: 15rem;
  height: 15rem;
}

.description__header {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-primary);
  max-width: 30rem;
  margin-top: 2.4rem;
}

.description__text {
  margin-top: 8px;
  text-align: center;
  color: var(--color-gray-storm);
  font-size: 1.5rem;
  font-weight: 400;
}

.mobile {
  background-color: var(--color-primary);
  background-image: url("https://getir.com/_next/static/images/doodle-d659f9f1fd505c811c2331fe3ffddd5f.png");
  min-height: 31.2rem;
  border-radius: 8px;
  display: flex;
}

@media only screen and (max-width: 81.25em) {
  .mobile {
    width: 95% !important;
  }
}

.mobile__flex {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.mobile__left {
  display: flex;
  flex-direction: column;
  margin-left: 4.8rem;
  margin-right: auto;
}

.mobile__description {
  max-width: 36rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--color-white);
}

.mobile__list {
  padding-top: 3.2rem;
  list-style-type: none;
  display: flex;
}

@media only screen and (max-width: 50em) {
  .mobile__list {
    flex-wrap: wrap;
  }
}

.mobile__item:not(:last-child) {
  margin-right: 8px;
}

.mobile__right {
  width: 60.5rem;
  height: 28.8rem;
  position: absolute;
  right: 0;
  bottom: -5px;
}

@media only screen and (max-width: 81.25em) {
  .mobile__right {
    margin-left: 65rem;
    right: initial;
  }
}

@media only screen and (max-width: 50em) {
  .mobile__right {
    display: none;
  }
}

.mobile__right img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: var(--color-white);
  margin-top: 5.6rem;
}

@media only screen and (max-width: 81.25em) {
  .footer {
    padding: 0 3.2rem;
  }
}

@media only screen and (max-width: 50em) {
  .footer {
    padding: 0 1.6rem;
  }
}

.footer__flex {
  display: flex;
}

@media only screen and (max-width: 50em) {
  .footer__flex {
    flex-direction: column;
  }
}

.footer__group {
  margin-right: 2.4rem;
  padding: 4rem 0 2rem;
}

.footer__group:not(:last-child) {
  flex: 1 1 0%;
}

@media only screen and (max-width: 62.5em) {
  .footer__group:last-child {
    display: none;
  }
}

@media only screen and (max-width: 50em) {
  .footer__group {
    margin-right: 0;
    padding: 2rem 0 1.6rem;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.footer__header {
  display: inline-block;
  margin-right: auto;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--color-primary);
}

.footer__list {
  list-style: none;
}

@media only screen and (max-width: 50em) {
  .footer .close {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.1s;
  }
  .footer .open {
    transition: all 0.4s linear 0.1s;
    opacity: 1;
    height: auto;
    visibility: visible;
  }
}

.footer__button {
  display: none;
  background-color: var(--color-white-dark);
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  border-radius: 8px;
}

@media only screen and (max-width: 50em) {
  .footer__button {
    display: block;
  }
}

.footer__arrow {
  width: 100%;
  height: 100%;
  fill: var(--color-primary);
  transition: all 0.5s;
}

.footer__arrow--open {
  transform: rotate(180deg);
}

.footer__item:not(:last-child) {
  padding-bottom: 1.6rem;
}

.footer__link {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-black);
  text-decoration: none;
}

.footer__etbisLink {
  padding: 1.6rem;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(105, 116, 136, 0.15);
}

.footer__etbis {
  width: 7.2rem;
  height: 8.4rem;
}

.footer__social-copyright {
  display: flex;
  padding: 2.4rem 0;
  align-items: center;
  border-top: 1px solid var(--color-white-dark);
}

@media only screen and (max-width: 50em) {
  .footer__social-copyright {
    flex-direction: column;
  }
}

.footer__copyright {
  margin-right: auto;
}

@media only screen and (max-width: 50em) {
  .footer__copyright {
    display: flex;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
}

.footer__copyrightText {
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 1.2rem;
  color: var(--color-gray-dark);
}

.footer__info {
  font-size: 1.4rem;
  color: var(--color-primary);
  text-decoration: none;
}

.footer__info::before {
  content: '•';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 1.2rem;
}

@media only screen and (max-width: 50em) {
  .footer__info::before {
    display: none;
  }
}

@media only screen and (max-width: 50em) {
  .footer__info {
    margin-top: 1rem;
  }
}

.footer__social {
  display: flex;
}

@media only screen and (max-width: 50em) {
  .footer__social {
    flex-direction: column;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 3.2rem;
  height: 3.2rem;
  transition: all 200ms;
}

.footer__social-item:not(:first-child) {
  margin-left: 1rem;
}

.footer__social-item:hover {
  background-color: var(--color-white-dark);
}

.footer__social-item:hover .footer__social-link {
  color: var(--color-secondary);
}

.footer__social-link {
  transition: all 200ms;
  color: var(--color-gray-storm);
  font-size: 2.4rem;
}

.footer__language {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-white-dark);
  border-radius: 8px;
  height: 3.2rem;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 1rem;
  color: var(--color-gray-storm);
  transition: all 200ms;
}

.footer__language:hover {
  background-color: var(--color-white-dark);
  color: var(--color-primary);
}

@media only screen and (max-width: 50em) {
  .footer__language {
    margin-top: 1rem;
  }
}

.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}

.header {
  background-color: var(--color-primary-dark);
  height: 4.5rem;
  display: flex;
}

@media only screen and (max-width: 81.25em) {
  .header {
    padding: 0 3.2rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .header {
    padding: 0 1.6rem;
  }
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 31.25em) {
  .header__flex {
    justify-content: center;
  }
}

.header__left {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 5px;
}

.header__logo {
  display: flex;
  padding: 1.2rem 2rem;
  border-radius: 6px 6px 0 0;
}

@media only screen and (max-width: 50em) {
  .header__logo {
    padding: 1.2rem 1.5rem;
  }
}

.header__logo--active {
  background-color: var(--color-primary);
}

.header__logo:hover {
  background-color: var(--color-primary);
}

.header__logo:not(:last-child) {
  margin-right: 1px;
}

@media only screen and (max-width: 31.25em) {
  .header__logo:not([class*='active']) {
    display: none;
  }
}

.header__logo:not([class*='active']) img {
  filter: brightness(5%) invert(90%) sepia(72%) saturate(3333%) hue-rotate(180deg) contrast(102%);
}

.header img {
  height: 1.6rem;
}

.header__right {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 50em) {
  .header__right {
    display: none;
  }
}

.header__group {
  display: flex;
}

.header__group:not(:last-child) {
  margin-right: 4px;
}

.header__button {
  display: flex;
  align-items: center;
  color: var(--color-primary-light);
  border: none;
  background-color: transparent;
  padding: 0.7rem 1.6rem 0.7rem 1.2rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 62.5em) {
  .header__button {
    padding: 6px;
  }
}

.header__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary-light);
  margin: 8px;
}

@media only screen and (max-width: 62.5em) {
  .header__button span {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 125rem;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */