.banner {
  height: 50rem;

  display: flex;
  flex-direction: column;

  position: relative;

  &__flex {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-land) {
      padding: 0 3.2rem !important;
    }
    @include respond(tab-land) {
      padding: 0 1.6rem !important;
    }

    @include respond(phone) {
      display: none;
    }
  }

  //LEFT

  &__left {
    width: 30rem;

    @include respond(tab-land) {
      width: auto;
    }
  }

  &__logo {
    width: 18rem;
    height: 18rem;
  }

  //Right

  &__right {
    flex-shrink: 0;
    padding: 2.4rem;
    border-radius: 8px;
    width: 40rem;
    background-color: var(--color-gray-background);
  }

  &__phone {
    display: flex;
    margin-bottom: 8px;
  }

  &__country,
  &__number {
    border: 2px solid var(--color-gray-light);
    border-radius: 4px;
  }

  //FLAG
  &__country {
    position: relative;
    display: flex;
    align-items: center;
    width: 18rem;
    height: 5.6rem;

    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &--open {
      border-color: var(--color-primary);
    }
  }

  &__flag {
    width: 1.6rem;
    height: 1.1rem;
    margin: 0 1rem;
  }

  &__country--open &__arrow {
    transform: rotate(180deg);
  }

  &__arrow {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    transition: all 0.3s ease-in-out;
  }

  //COUNTRY LIST

  &__list {
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20rem;
    overflow: auto;
    background-color: var(--color-white);
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: rgba(93, 62, 188, 0.2) 0px 4px 24px;

    &--open {
      display: block;
    }
  }

  &__item {
    padding: 8px 0;

    &:hover {
      background-color: var(--color-white-dark);
    }
  }

  &__country-name {
    display: none;
  }

  &__dial-code {
    color: var(--color-gray-dark);
    margin-right: 1.2rem;
  }

  //NUMBER

  &__input {
    width: 100%;
    margin-left: 1rem;
    height: 5.6rem;
    position: relative;
  }

  &__number {
    font-size: 1.4rem;
    padding: 0 4rem 0 1.4rem;
    width: 100%;
    height: 100%;
    color: var(--color-gray-dark);

    &:focus,
    &:hover,
    &:active {
      outline: none;
      border-color: var(--color-primary);
    }
  }

  &__label {
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--color-gray-mid);
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    transition: all 0.2s;
    pointer-events: none;
  }

  &__number:focus + &__label,
  &__number:valid + &__label {
    font-size: 1.2rem;
    color: var(--color-primary);
    transform: translateY(-25px);
  }

  &__notification {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    fill: var(--color-red);

    &--open {
      display: block;
    }
  }

  &__message {
    display: none;
    font-size: 1.2rem;
    color: var(--color-red);
    &--open {
      display: inline-block;
    }
  }

  //BUTTON
  &__button {
    margin-top: 4px;
    width: 100%;
    height: 4.8rem;
    cursor: pointer;
    background-color: var(--color-brand-yellow);
    color: var(--color-primary);
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
      color: var(--color-brand-yellow);
      background-color: var(--color-secondary);
    }
  }
}

//SLIDE
.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    rgba(93, 62, 188, 0) 100%
  );
}

//MOBILE RIGHT SIDE
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
